
body {
    font-family: Arial, sans-serif;
    background-color: #FAFFF2;
    color: #333;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none !important;
}


.header {
    background-color: #A9C46C;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.header h2 {
    font-size: 24px;
    margin: 0;
}

.header p {
    margin: 0;
    font-size: 16px;
}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.main-content h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}


.main-content ul {
    list-style-type: none;
    padding: 0;
    height: 500px; 
    overflow-y: auto; 
    width: 100%;
    margin-top: 20px;
}

.main-content ul li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.main-content ul li:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
}

.main-content ul li strong {
    font-size: 20px;
    color: #60762d;
}

.main-content ul li p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}


button {
    background-color: #55db55;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #6c757d;
}


.top-right-button {
    background-color: #809D3C;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right-button:hover {
    background-color: #60762d;
}


@media (max-width: 768px) {
    .header h2 {
        font-size: 20px;
    }

    .header p {
        font-size: 14px;
    }

    .main-content h3 {
        font-size: 24px;
    }

    .main-content ul li {
        padding: 10px;
    }
}
